
body{
  max-width: 1200px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
#mainheader{

  text-align: center;
  height: 80px;
}
.headerlogo img{
  height: 80px;
  float: left;
  display: inline-block;
}
.header{
  background-color: #f1f1f1;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  text-align: center;
  height: 60px;
  margin-left: 80px;
}
.vasenkulma{
  float: left;
  display: inline-block;
}
.keski{

  text-align: center;
  font-size: 25px;
  max-width: 700px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  display: inline-block;
}
.oikeakulma{
  background-color: #CCC;
  float: right;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  display: inline-block;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#menu{
  background-color: #f1f1f1;
  float: left;
  width:210px;
  height: 250px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}
#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #CCC;
  border-radius: 5px;
}

#menu li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
#menu li a:hover{
  background-color: #555;
  color: white;
  border-radius: 5px;
}
a {
  color: #000;
  text-decoration: none;
}
#content{
  margin-top: 20px;
  margin-left: 250px;
  max-width: 950px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border: solid 1px #CCC;
}
.content_ylin{
align: center;
}
.otsikko{
  text-align: center;
}

.nayta_paneeli{
  text-align: center;
  background-color: #CCC;
  margin: 2px;
  border-radius: 5px;
  border: solid 1px #f1f1f1;
  font-size: 20px;
}
#piilo_ikkuna{
  background-color: white;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px #CCC;
}
#piilo_ikkuna2{
  background-color: white;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px #CCC;
}
#piilo_ikkuna3{
  background-color: white;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px #CCC;
}
#piilo_ikkuna{
  display: block;
}
#piilo_ikkuna2{
  display: none;
}
#piilo_ikkuna3{
  display: none;
}
table{
  width: 100%;
  border-radius: 5px;
}
tr:nth-child(even){
  background-color:#CCC;
}
td{
  border: solid 1px #CCC;
  padding: 2px;
  border-radius: 5px;
}
form {
  border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
button:hover {
    opacity: 0.8;
}
#footer{

}
.oikeakohdistus {
  width: 100%;
  text-align: right;
}
